<mat-dialog-content>
  <mat-toolbar>
    <span>Patient Dialog</span>
  </mat-toolbar>

  <div>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="patient.firstName"  max="70" maxlength="70">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="patient.lastName"  max="70" maxlength="70">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" [(ngModel)]="patient.address" max="150" maxlength="150">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Dui" [(ngModel)]="patient.dui" max="9" maxlength="9">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone" [(ngModel)]="patient.phone" max="8" maxlength="8">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="patient.email"  max="150" maxlength="150">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Status" [(ngModel)]="patient.status">
    </mat-form-field>

  </div>

  <button mat-raised-button color="primary" (click)="operate()">Done</button>
  <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-content>
