<mat-dialog-content>
  <mat-toolbar>
    <span>Medic Dialog</span>
  </mat-toolbar>

   <div>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="medic.firstName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="medic.lastName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Dui" [(ngModel)]="medic.dui" max="9" maxlength="9">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone" [(ngModel)]="medic.phone" max="8" maxlength="8">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="medic.email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Status" [(ngModel)]="medic.status">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Photo" [(ngModel)]="medic.photoUrl">
    </mat-form-field>

    <img mat-card-image [src]="medic.photoUrl" width="50%" height="50%" *ngIf="medic.photoUrl">
  </div>

  <button mat-raised-button color="primary" (click)="operate()">Done</button>
  <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-content>
